@charset "UTF-8
/*
stylesheet for ramirogarcia.xyz
*/

/* Reset some default styles for better consistency */
html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Set a background color and default font */
html {
  font-family: 'Open Sans', sans-serif;
}

/* Create a container to center content and add some spacing */
.container {
  max-width: 920px;
  margin: auto;
  padding: 2em;
  box-sizing: border-box;
}

/* Style headings for better hierarchy */
h2 {
  margin-top: 2em;
  margin-bottom: 0.25em;
}

/* Lists (all will be the same) except the header icons see: .contact-icons */
ul {
  padding: 0;
}

li {
  list-style: inside;
  text-indent: -1em;
  padding-left: 1em;
}

/* Header */
.contact-icons {
  display: flex;
}

.contact-icons li {
  margin-right: 1em;
  margin-bottom: 0;
  list-style: none;
  text-indent: 0;
  padding-left: 0;
}

/* Links */
a.hiddenlink {
  color: #708090;
  text-decoration: none;
  transition: 0.2s;
}

a {
  color: #0074D9;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* Home news feed */
.news {
  display: inline;
}

.dateline {
  color: #708090;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }

  .container {
    min-width: 100%;
    margin: 1em;
  }
}
/*
end of stylesheet*/